<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spectre - Tourbook Vue js filter</title>

    <link rel="stylesheet" href="css/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="stylesheet" href="css/style.css">
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>

</head>
<body>



    <div id="app">


            <div class="container" style="width:80%;padding:30px 10px;">
              
                <div class="columns" id="nav" style="padding-bottom:30px;">
                    <!-- title row -->
                    <button class="btn btn-link" id="f_toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                        <div class="column col-3">
                          <img src="img/logo.jpg" alt="" style="height:65%">
                        </div>

                        <div class="column col-2 col-sm-2" id="f_discover">
                            <div class="dropdown"><a class="btn btn-link dropdown-toggle reduce2" tabindex="0">Discover <i class="icon icon-caret"></i></a>
                              <ul class="menu">
                                <li class="menu-item"><a href="#dropdowns">Tours</a></li>
                                <li class="menu-item"><a href="#dropdowns">Venues</a></li>
                                <li class="menu-item"><a href="#dropdowns">Promoters</a></li>
                                <li class="menu-item"><a href="#dropdowns">Performers</a></li>
                                <li class="menu-item"><a href="#dropdowns">Networks</a></li>
                              </ul>
                            </div>
                          </div>

                          <div class="column col-3 col-sm-3"></div>
                          <div class="column col-4  col-sm-4">
                              <div class="tile tile-centered" id="f_centered">
                                <div class="tile-icon">
                                  <div class="example-tile-icon" style="padding-right:5px;">
                                    <i class="fa fa-envelope badge"></i>
                                  </div>
                                </div>
                                  <div class="tile-content" id="f_content">
                                    <div class="tile-title reduce"><span class="reduce">Fortitude Theatre Company</span></div>
                                    <small class="tile-subtitle text-gray">Rachel Smith</small>
                                  </div>
                                  <div class="tile-action" id="f_action">
                                    <button class="btn btn-link">
                                      <i class="fa fa-angle-down"></i>
                                    </button>
                                  </div>
                                </div>
                            </div>
                </div>
                    <div class="columns">
                        <!-- First row -->
                            <div class="column col-10">
                                    <div class="input-group">
                                      
                                        <div class="dropdown"><a class="btn btn-link dropdown-toggle reduce2" tabindex="0">Discover <i class="icon icon-caret"></i></a>
                                          <ul class="menu">
                                            <li class="menu-item"><a href="#dropdowns">Tours</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Venues</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Promoters</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Performers</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Networks</a></li>
                                          </ul>
                                        </div>
 
                                        <input class="form-input input-lg" type="text" placeholder="Discover shows currently available to tour." v-model="search"  style="max-width:600px;"/>
                                        <i class="fa fa-search" style="margin-top:8px;"></i>
                                        <div class="space"></div><button style="position:relative;margin-left:20px" :class="{'btn tour_theme input-group-btn btn-lg reduce3' : !isOpen, 'btn active_theme input-group-btn btn-lg reduce3': isOpen}" v-on:click='isOpen = !isOpen'> <i class="fa fa-filter"></i> <span :class="{'badge' : isOpen}">Add Filter</span></button>
                                        <div class="space"></div>
                                        <liked></liked>
                                      </div>
                                </div>
                    </div>

                    <div v-show="isOpen">
                    <!-- Second Row -->
                      <div class="column col-12" style="border-top:13px solid #F7F8F9;border-left:13px solid #F7F8F9;border-right:13px solid #F7F8F9">
                    <!-- Tabs -->
     
                    <span class="reduce2 pd" style="padding:10px;">Choose your category</span><BR>
                            <ul class="tab tab-block" id="f_tab">
                              
                                    <li v-for="(active, menu) in menus" class="tab-item" :class="{'tab-item active' : active}">
                                        
                                            <a href="#" v-on:click="setMenu(menu, active)" :class="{'badge' : activeFilters[menu].length}">
                                              
                                             <img-icon></img-icon> <br><span class="reduce">{{ menu }} </span></a>
                                          </li>


         


                                          <li class="tab-item reduce2"><a href="" v-on:click="clearAllFilters">Clear all</a></li>
                                  </ul>
                      </div>

                      <!-- Third row -->
                      
                      <div class="column col-12" style="border-bottom:13px solid #F7F8F9;border-left:13px solid #F7F8F9;border-right:13px solid #F7F8F9">
                          <!-- Sub category tabs -->

                          <div class="menu_wrapper">

                                <menu v-for="(options, filter) in filters" class=""
                                  v-show="menus[filter]" ref="menu" :key="filter">
                            
                                  <li v-if="filter === 'rating'" class="filters__rating">

                            
                                    <input v-model="filters.rating" class="filters__range" type="range"
                                      :min="rating.min" v-bind:max="rating.max" step="0.1"/>
                                  </li>
                            
                                  <template v-else>
                                    <li v-for="(active, option) in options" class="chip c-hand"
                                    v-bind:class="{ 'chip_active': active } "
                                      @click="setFilter(filter, option)" >
                                      {{ option }}
                                      <a href="#" :class="{'btn btn-clear':active}" aria-label="Close" role="button"></a>
                                    </liked>
                                       
                                  </template>
                                </menu>
                          </div>

                      </div>
                    </div>

                      <div class="columns" id='f_card_columns'>

                            <div class="column col-12 col-xs-12" style="padding-top:20px;"><h5><span :class="{'present': !search,'absent': search }">Latest results</span><span :class="{'present': search,'absent': !search }">Search results for "{{ search }}"</span></h5></div>
                          
                            <div class="column col-3 col-xs-12" v-for="company in filteredList" :key="company.id" style="padding:10px;">
                                
                              <div class="card" >
                                
                                  <div class="card-image">
                                      <div v-lazy-container="{ selector: 'img', error: 'xxx.jpg', loading: 'img/loading.gif' }">
                                          
                                          <img class="img-responsive" :data-src="'https://placeimg.com/320/240/'+company.id" alt="company.slogan" style="max-height:250px;width:100%"> 
                                        </div></div>
                                  <div class="card-header">
                                    
                                    <i class="fa fa-thumbs-up float-right c-hand mouse" style="padding-top:15px;"></i>
                                    <div class="card-title h5">{{ company.name }}</div>
                                    <div class="card-subtitle text-gray">{{ company.slogan }}{{ company.artforms }}</div>
                                  </div>                                  
                               
                                  <div class="card-body">An immersive, three-day experience focused on exploring the next generation of technology, mobile and beyond.</div>
                                  <div class="card-header"><div class="card-subtitle text-gray c-hand url_pre" @click="clearFilter('countries', company.country)">{{ company.country }}</div></div>
                                </div>
                                
                              </div>  

                        
                              <button-counter></button-counter>
                        </div>

                      </div>
                    </div>
                  </div>

    </div>


</body>


<script src="js/vue.min.js"></script>
<script src="js/script.js"></script>

</html>