<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spectre - Tourbook Vue js filter</title>

    <link rel="stylesheet" href="css/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="stylesheet" href="css/style.css">

</head>
<body>
    <style>
        
        .chip_active {
        background-color:#00b5ad;
        color:white
        }
        .tab .tab-item.active a {
    border-bottom-color: #00b5ad;
    color:#00b5ad;
        }
        .tab .tab-item.active a:hover {
    border-bottom-color: #00b5ad;
    color:#00b5ad;
        }
        .url_pre:hover {
        text-decoration: underline;
        }
        .menu-wrapper {
	position: relative;
	max-width: 500px;
	max-height: 100px;
	margin: 1em auto;
	border: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.reduce {
  font-size: 12px;
  font-weight:600;
}
.reduce2 {
  font-size: 14px;
}
.reduce3 {
  font-size: 12px;
}
.tour_theme {
  color:#323232;
  background-color: white;
  border:none;
}
.tour_theme:hover {
  background-color: #F7F8F9;
}
.active_theme {
  border:none;
  color:#323232;
  background-color: #F7F8F9;
}
.active_theme:hover {
  border:none;
  background-color: #F7F8F9;
}
.btn.active {
  background-color: #F7F8F9;
  border:#ccc;
  box-shadow:none;
}
.present {
  display:inline;
}
.absent {
  display:none;
}
.btn.btn-link {
  color:#323232;
}
.tab-item {
  max-width:120px;
}
.btn.btn-link {
  background-color:white;
  border:0px;
  box-shadow:0;
}
.btn.btn-lg {
  font-size: 14px;
}
.form-input{
border:0px;
}
.searchwrap{
  border:1px solid;
}
menu {
  margin:0px;
  padding-top:20px;
  padding-bottom:20px;
}
.mouse:hover {
color:#00b5ad;
}
.liked {
  color:#00b5ad;
}
        </style>



    <div id="app">


            <div class="container" style="width:80%;padding:30px;">
                <div class="columns" style="padding-bottom:30px;">
                    <!-- title row -->
                        <div class="column col-3">
                          <img src="img/logo.jpg" alt="" style="height:65%">
                        </div>

                        <div class="column col-2">
                            <div class="dropdown"><a class="btn btn-link dropdown-toggle reduce2" tabindex="0">Discover <i class="icon icon-caret"></i></a>
                              <ul class="menu">
                                <li class="menu-item"><a href="#dropdowns">Tours</a></li>
                                <li class="menu-item"><a href="#dropdowns">Venues</a></li>
                                <li class="menu-item"><a href="#dropdowns">Promoters</a></li>
                                <li class="menu-item"><a href="#dropdowns">Performers</a></li>
                                <li class="menu-item"><a href="#dropdowns">Networks</a></li>
                              </ul>
                            </div>
                          </div>

                          <div class="column col-3"></div>
                          <div class="column col-3">
                              <div class="tile tile-centered">
                                <div class="tile-icon">
                                  <div class="example-tile-icon" style="padding-right:5px;">
                                    <i class="fa fa-envelope badge"></i>
                                  </div>
                                </div>
                                  <div class="tile-content">
                                    <div class="tile-title reduce"><span class="reduce">Fortitude Theatre Company</span></div>
                                    <small class="tile-subtitle text-gray">Rachel Smith</small>
                                  </div>
                                  <div class="tile-action">
                                    <button class="btn btn-link">
                                      <i class="fa fa-angle-down"></i>
                                    </button>
                                  </div>
                                </div>
                            </div>
                </div>
                    <div class="columns">
                        <!-- First row -->
                            <div class="column col-10">
                                    <div class="input-group">
                                      
                                        <div class="dropdown"><a class="btn btn-link dropdown-toggle reduce2" tabindex="0">Discover <i class="icon icon-caret"></i></a>
                                          <ul class="menu">
                                            <li class="menu-item"><a href="#dropdowns">Tours</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Venues</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Promoters</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Performers</a></li>
                                            <li class="menu-item"><a href="#dropdowns">Networks</a></li>
                                          </ul>
                                        </div>
                                          

                                        <input class="form-input input-lg" type="text" placeholder="Discover shows currently available to tour." v-model="search"  style="max-width:600px;"/>
                                        <i class="fa fa-search" style="margin-top:8px;"></i>
                                        <div class="space"></div><button style="position:relative;margin-left:20px" :class="{'btn tour_theme input-group-btn btn-lg reduce3' : !isOpen, 'btn active_theme input-group-btn btn-lg reduce3': isOpen}" v-on:click='isOpen = !isOpen'> <i class="fa fa-filter"></i> <span :class="{'badge' : isOpen}">Add Filter</span></button>
                                      </div>
                                </div>
                    </div>

                    <div v-show="isOpen">
                    <!-- Second Row -->
                      <div class="column col-12" style="border-top:13px solid #F7F8F9;border-left:13px solid #F7F8F9;border-right:13px solid #F7F8F9">
                    <!-- Tabs -->
                    <span class="reduce2 pd" style="padding:10px;">Choose your category</span><BR>
                            <ul class="tab tab-block">
                                    <li v-for="(active, menu) in menus" class="tab-item" :class="{'tab-item active' : active}">
                                            <a href="#" v-on:click="setMenu(menu, active)" :class="{'badge' : activeFilters[menu].length}"><img src="img/dancepng.png" style="height:40px"><br><span class="reduce">{{ menu }}</span></a>
                                          </li>

                                          


                                          <li class="tab-item reduce2"><a href="" v-on:click="clearAllFilters">Clear all</a></li>
                                  </ul>
                      </div>

                      <!-- Third row -->
                      
                      <div class="column col-12" style="border-bottom:13px solid #F7F8F9;border-left:13px solid #F7F8F9;border-right:13px solid #F7F8F9">
                          <!-- Sub category tabs -->

                          <div class="menu_wrapper">

                                <menu v-for="(options, filter) in filters" class=""
                                  v-show="menus[filter]" ref="menu" :key="filter">
                            
                                  <li v-if="filter === 'Date'" class="filters__rating">

                            <p>Date component</p>
                                    <input v-model="filters.rating" class="filters__range" type="range"
                                      :min="rating.min" v-bind:max="rating.max" step="0.1"/>
                                  </li>
                            
                                  <template v-else>
                                    <li v-for="(active, option) in options" class="chip c-hand"
                                    v-bind:class="{ 'chip_active': active } "
                                      @click="setFilter(filter, option)" >
                                      {{ option }}
                                      <a href="#" :class="{'btn btn-clear':active}" aria-label="Close" role="button"></a>
                                    </li>
                                       
                                  </template>
                                </menu>
                          </div>

                      </div>
                    </div>

                    
                      <div class="columns">
                       
                            <div class="column col-12 col-xs-12" style="padding-top:20px;"><h5><span :class="{'present': !search,'absent': search }">Latest results</span><span :class="{'present': search,'absent': !search }">Search results for "{{ search }}"</span></h5></div>
                        <div class="column col-3 col-xs-12" v-for="company in suggestedList" :key="company.id" style="padding:10px;">
                                <div class="card" >
                                  <div class="card-image"><img class="img-responsive" :src="'https://placeimg.com/320/240/'+company.id" alt="company.slogan" style="max-height:250px;width:100%"></div>
                                  <div class="card-header">
                                    <i class="fa fa-thumbs-up float-right c-hand mouse" style="padding-top:15px;"></i>
                                    <div class="card-title h5">{{ company.name }}</div>
                                    <div class="card-subtitle text-gray">{{ company.artform }}</div>
                                  </div>                                  
                                </p>
                                  <div class="card-body">An immersive, three-day experience focused on exploring the next generation of technology, mobile and beyond.</div>
                                  <div class="card-header"><div class="card-subtitle text-gray c-hand url_pre" @click="clearFilter('countries', company.country)">{{ company.country }}</div></div>
                                </div>
                              </div>  
                        
                              <button-counter></button-counter>
                        </div>
                      </div>
                    </div>
                  </div>

    </div>


</body>


<script src="js/vue.min.js"></script>
<script src="js/script.js"></script>

</html>